/*

=== FONT STYLES ===

	font-family: proxima-nova;

	Regular: 400

	Semibold: 600

	Bold: 700;

	Black: 900;
*/


/*===FONTS===*/

h1,h2,h3,h4,p, li, button {
	font-family: proxima-nova, helvetica, open-sans;
	color: #fff;
}

h1	{
	font-weight: 900;
	font-size: 51.78pt;
}

h2 {
	font-weight: 700;
	font-size: 23pt;
}

h3, h4, li {
	font-weight: 600;
}

h3, {
	font-size: 17pt;
}

h4, li {
	font-size: 15.5pt;
}

p {
	font-weight: 400;
	font-size: 14pt;
}

button {
	font-weight: 700;
}

/*=== BACKGROUND IMAGES ===*/
.bgimage {
	background-image: url('../images/hero_600.jpg');
	background-position: center center;
	background-size: cover;
	height: 600px;
}

.web_design {
	background-color: red;
}

.social_media {
	background-color: cyan;
}

.graphic_design {
	background-color: pink;
}

.ab1 {
	background-color: cyan;
}

.ab2 {
	background-color: red;
}

.port {
	background-color: pink;
}

.port2 {
	background-color: magenta;
}

.contact {
	background-color: cyan;
}

/*===YOUTUBE VIDEO===*/

.videoWrapper, .videoWrapper2 {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	margin-top: 25px;
	height: 0;
}

.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 80%;
	height: 80%;
}

.videoWrapper2 iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.content {
	padding-top: 45px;
}

.navbar-default {
	border: none;
}

.port-btn {
	margin-left: 33px;
}

.btn-sl {
	margin-bottom: 20px;
}

@media only screen and (max-width: 767px) {
	.videoWrapper2 iframe {
		width: 90%;
		height: 90%;
	}
}